<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMHV: Minimalist Miniflux Headline Viewer</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<h2>Instruction</h2>
<p><code>j</code>: move focus down; <code>k</code>: move focus up; <code>r</code>: toggle read and move focus down; <code>s</code>: toggle star; <code>l</code>: open url and move focus down.</p>
<p>Hit <code>Submit</code> at the end of the page to submit changes to Miniflux.</p>
<h2>Headlines</h2>
<table class="outlined">
    <thead>
        <tr>
            <th>Indicator</th>
            <th>Read</th>
            <th>Bookmark</th>
            <th>Headline</th>
        </tr>
    </thead>
    <tbody id="entries">
        {% for entry in entries %}
        <tr id="row_{{ loop.index }}" data-entry-id="{{ entry.id }}" {% if loop.index == 1 %}class="checked"{% endif %}>
            <td><input type="radio" id="indicator_{{ loop.index }}" name="indicator" {% if loop.index == 1 %}checked{% endif %}></td>
            <td><input type="checkbox" id="read_{{ entry.id }}"></td>
            <td><input type="checkbox" id="star_{{ entry.id }}" {% if entry.starred %}checked{% endif %}></td>
            <td id="headline_{{ loop.index }}" data-url="{{ entry.url }}">{{ entry.title }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form id="form">
    <p><input type="submit" value="Submit"></p>
</form>

<script src="/static/script.js"></script>
<script src="/static/feed.js"></script>

</body>
</html>
