table.outlined {
    width: 100%;
    border-collapse: collapse;
}
table.outlined tr {
    border: 1px solid #d0d0d0;
}
tr.checked {
    background-color: #f2f2f2;
}
th, td {
    text-align: center;
}
th:last-child, td:last-child {
    text-align: left;
    padding: 3px;
}
th {
    background-color: #eaeaea;
}
